<div class="text-center" id="movieDiv">
    <h2>{{movieName}}</h2>
    <p>{{movieDescription}}</p>
    <h4>Duration: {{movieDuration}}</h4>
    <h5>Director(s): {{movieDirectors}}</h5>
    <div>
        <img src={{imageURL}} style="max-width: 20%; height: auto;"></img>
    </div>
    
    <button onclick="openSelector()" class="btn-space btn btn-primary btn-space">Add to a group</button>

    {{!-- <button onclick="ay()" class="btn-space btn btn-primary btn-space" >Remove movie from group</button> --}} {{!-- Maybe todo --}}
</div>

<div class="text-center">
    <h5>Actors: {{movieActors}}</h5>
    {{#each actorsList}}
        {{> actorsItem}} {{!-- The '> group' says that this variable is to be interpreted as a .hbs view --}}
        <hr>
    {{/each}}
</div>

<script src="/js/client-fetch.js"></script>
<script>
    let isOpen = false
    function openSelector(){
        if(isOpen) return
        isOpen = true

        let uri = getHandlBarsOptionString(`${{{getListOfGroupsURI}}}`)

        function getGroups(){ //https://stackoverflow.com/questions/34558264/fetch-api-with-cookie
            fetx(uri, "GET").then(arrayGroups => {
                if(arrayGroups) {
                    console.log(arrayGroups)
                    showGroupsList(arrayGroups.groups)
                }
                else isOpen = false
            })
        }

        function updateFormActionURL(theSelector, button){
            console.log(`Selected group of id=${theSelector.value}`)

            const groupID = theSelector.value
            const movieID = getHandlBarsOptionString(`${{{movieID}}}`)
            const apiPath = getHandlBarsOptionString(`${{{apiPath}}}`)
            const func = {{{function_addMovieToGroupSetPath}}} //(see handlebars registered helpers in server.mjs)  https://handlebarsjs.com/guide/#html-escaping
            const path = func(groupID, movieID)

            const redirect = {{{function_getPageOfAGroupSetPath}}}
            const redirectPath = redirect(groupID)
            
            const addMovieToGroupURI = getHandlBarsOptionString(`${{{host}}}`) + path

            button.onclick = () => {
                fetx(addMovieToGroupURI, "PUT").then(_ => {
                    location.href = redirectPath
                })
            }
        }

        function showGroupsList(groupsArray){
            const div = document.createElement("div")

            const addButton = document.createElement("button")
            addButton.innerHTML = "Add"
            addButton.type = "submit"

            const selector = document.createElement("select")
            selector.id="selector"
            selector.onchange = () => updateFormActionURL(selector, addButton)

            for (const group of groupsArray) {
                let option = document.createElement("option")
                option.text = group.name
                option.value = group.id
                selector.appendChild(option)
            }

            updateFormActionURL(selector, addButton) //defines a default setup

            div.appendChild(selector)
            div.appendChild(addButton)

            document.getElementById("movieDiv").append(div)
        }
        getGroups()
    }

    function getHandlBarsOptionString(str){
        return str.substring(1, str.length) //because the '$' is included in the string... this seems to only occurr inside scripts
    }
</script>